body {
  background: #222222;
  color: white;
  font-family: 'SimSun', 'NSimSun', 'PMingLiU', serif;
  text-align: center;
}

.piano {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.key {
  width: 80px;
  height: 200px;
  margin: 2px;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  transition: all 0.1s;
  cursor: pointer;
  user-select: none;
}

.key.playing {
  background: #12002061;
  transform: scale(1.05);
}
