body {
      background: #210404;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    canvas {
      border: 2px solid white;
      image-rendering: pixelated;
      
    }
    #btn-open-plot.hidden { display: none !important; }
#btn-close-image {
  font-size: 24px;     /* 字体大 */
  padding: 15px 40px;  /* 按钮大 */
  border-radius: 8px;
  cursor: pointer;
  z-index: 10000;      /* 确保按钮永远在最上层 */
}
/* 遮罩层 */
#overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 9;
}

/* 悬浮窗 */
#popup {
  display: none;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 640px;
  background: #000;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
  z-index: 10;
}

#popup iframe {
  width: 100%; height: 100%;
  border: none;
  border-radius: 12px;
}

#closeBtn {
  position: absolute;
  top: -15px; right: -15px;
  background: red; color: white;
  border: none;
  border-radius: 50%;
  width: 30px; height: 30px;
  cursor: pointer;
  font-weight: bold;
}
/* 在 style.css 追加 */
#overlay.visible { display:block; pointer-events:auto; }
#popup.visible { display:block; pointer-events:auto; }
#overlay { pointer-events:none; } /* 默认不可点（只有 visible 时才可点） */
#popup { pointer-events:auto; }    /* popup 内元素可点 */
